# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://pzzqnwnqcjlbyybawdhm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6enFud25xY2psYnl5YmF3ZGhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NjU2NTYsImV4cCI6MjA5MjM0MTY1Nn0.aNK1NDqfhaji7H_JOfPfE10Boq2P7jVjD9oeYO_eVa8
